.posts {

    display: flex;
    flex-wrap: wrap;

    min-height: 100vh;

    @media (min-width: $breakpoint-large) {
        min-height: unset;
        justify-content: center;
        margin-top: 1em;
        margin-bottom: 1em; 
    }

    .post {

        width: 100%;

        @media (min-width: $breakpoint-medium) {
            width: 50%;
        }

        @media (min-width: $breakpoint-large) {

            width: 30%;
            margin: 1em;
            border: 1px solid $hover-color;
            border-radius: 5px;

            &:nth-child(4n-2),
            &:nth-child(4n-1) {
                width: 60%;
            }
        }
    }
}
